.item {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    padding: 2rem;
    background: linear-gradient(180deg, #5d6273, #191d2b);
    border-radius: 8px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  }

  .formActions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }