.listItem > div {
    margin: 10px 70px 10px 10px;  
    font-size: 15px;    
   
    line-height: 40px;     
    display: inline-block;  
    vertical-align: middle;   
    width: 150px; 
    text-align: left;
   
}

.listItem img {
    width: 65px;
    height: 65px;    
    border: solid;  
    vertical-align: middle;
}

.listItem {
    white-space: nowrap;    
}

.listItem button{
    float: right; 
    color: var(--color-primary-800); 
    margin-right: 2px;
}


