.container {
    max-width: 65rem;
    margin: 1rem auto; 
    border: solid
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}


.container ul {      
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;   
    unicode-bidi: isolate;
    width: 100%; 
}


.dogContainer {
    display: grid;
    grid-template-columns: auto;
    gap: 4px;    
    padding: 10px;
    list-style: none;
    overflow-y: auto;
    max-height: 60vh;      
}

.container li { background: #989595;  }
.container li:nth-child(odd) { background: rgb(86, 83, 83); }